h1 {
  text-align: center;
  display: inline;
}

div {
  width: 50%;
  border: 2px solid cornflowerblue;
  padding: 10px;
  margin: 10px;
}

p {
  display: inline;
}

/* For header info */
p.header {
  font-size: large;
  border: 1px solid powderblue;
  box-shadow: 10px 5px 5px powderblue;
  padding: 3px;
}

table {
  width: 100%
}

th, td {
  width: 33.3%;
}

th.content, td.content {
  text-align: center;
  width: 50%;
}