.languages {
  display: flex;
  justify-content: center;
  width: 100%;
}

.language-bar {
  margin: 5px 10px;
  max-width: 600px;
  width: 100%;
}

.language-name {
  width: 100px;
  float: left;
  font-weight: bold;
  background-color: cornflowerblue;
}

.fill {
  height: 100%;
  background-color: powderblue;
  float: left;
}

.percentage {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px 0px 0px;
  background-color: lightgray;
}

.cpp { width: 75%; }
.js { width: 60%; }
.react { width: 60%; }
.rust { width: 50%; }
.cs { width: 40%; }
.r { width: 35%; }
.java { width: 30%; }