.nav {
  background-color: #5586DE;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav a {
  display: block;
  float: left;
  color: white;
  padding: 14px 16px;
  font-size: 15px;
  text-decoration: none;
}

.nav a:hover {
  background-color: lightgray;
  color: midnightblue;
}

.nav a.active {
  background-color: gray;
}

@media only screen and (max-width: 500px) {
  .nav a {
    float: none;
    text-align: left;
  }

  .nav a.socials {
    float: none;
  }
}

.nav a.socials {
  float: right;
}